# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/isitavailable/node_modules
/isitavailable/.pnp
/isitavailable/.pnp.js

# testing
/isitavailable/coverage

# production
/isitavailable/build

# misc
/isitavailable/.DS_Store
/isitavailable/.env.local
/isitavailable/.env.development.local
/isitavailable/.env.test.local
/isitavailable/.env.production.local

/isitavailable/npm-debug.log*
/isitavailable/yarn-debug.log*
/isitavailable/yarn-error.log*
