body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search1 {
  position: absolute;
  top: 1rem;
  left: 0%;
  margin-left: 20px;
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.search2 {
  position: absolute;
  top: 5rem;
  left: 0%;
  margin-left: 20px;
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.search1 input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.POIManagement {
  position: absolute;
  bottom: 20px;
  right: 20px;
  max-width: 400px;
  z-index: 10;
}

.close {
  outline: 0 !important;
}

.suggestions {
  z-index: 10;
}

#successMessage {
  position: absolute;
  top: 20px;
  right: 40%;
  outline: 0;
  margin: auto;
}

@media (max-width: 1200px) {
  #itemImage {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  #itemImage {
    width: 50%;
  }
}

#POIHeader {
  outline: 0;
  color: white;
}

#filterInput {
  outline: 0;
  border-radius: 0.25rem;
  border: 1px solid #ffffff;
}
/* Position and sizing of burger button */
/* .bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
} */

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */ 
.bm-menu {
  background: #25294D;
  padding: .575em 0.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}